<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="controller.js"></script>
</head>
<body ng-controller="firstController">

<form ng-submit="putVaule()">

<input type="text" id="size" ng-model="numInt.tam" >
<input type="submit">
{{tam}}
</form>
<table>
	<tbody>
		<tr ng-repeat="numero in numeros track by $index">
   			<td >  <input type="text" value='{{numero+""+$index}}'></input>  </td>
 		</tr>

	</tbody>

</table>
<ol>
<li ng-repeat="a in fdatos" {{a.nombre}}>
<li ng-repeat="a in fdatos" {{a.edad}}>
</ol>


</body>
</html>
